.splashbody {
     display: flex;
     flex-direction: row;
     background-color: rgb(195, 245, 60);
     height: 700px;
     align-items: center;
     border-bottom-color: black;
     border-bottom-style: solid;
     border-bottom-width: 1px;
     box-shadow: inset 0 7px 5px -7px rgba(0,0,0,0.3);
     justify-content: left;
}


.splashbodywords {
     display: flex;
     flex-direction: column;
     // height: 340px;
     // width: 450px;
     width: 26%;
     height: auto;
     // justify-content: space-between;
     align-items: left;
     margin-right: 30px;

}

.splashbodyheader {
     font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
     font-size: 52px;
     font-style: normal;
     font-weight: 500;
     line-height: 60px;
     margin-bottom: 40px;
}

.splashbodydescription {
     font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
     line-height: 36px;
     margin-bottom: 40px;
}

.splashbody-signup {
     background-color: #040d14;
     color: white;
     text-align: center;
     align-items: center;
     justify-content: center;
     position: relative;
     white-space: nowrap;
     height: 48px;
     min-width: 144px;
     border-radius: 24px;
     padding: 0 0px;
     font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
     font-size: 18px;
     font-weight: 700;
}

.splashbody-signup:hover {
    filter: brightness(1.5);
}


.splash-img-body {
     display: flex;
     width: 10%;
     height: 10%;
}


.splash-img {
     // height: 30%;
     // width: 30%;
     position: absolute;
     // left: 0px;
     // top: 0px;
     // z-index: -1;
     // width: 40%;
    
     // height: 50%;
     max-width: 30%;
     height: auto;
     left: 50%;
     top: 25%


}

.splash-img-screen {
     // height: 30%;
     // width: 30%;
     position: absolute;
     left: 50%;
     
     top: 25%;
     // z-index: -1
  
     // width: 40%;
     // height: 50%;
      max-width: 30%;
     height: auto;
}

.enddd {
     font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.33px;
    margin-top: 20px;
    margin-left: 20px;
}