.sub-nav-2 {
    display: flex;
  
}

.nav-search {
    margin-right: 150px;
}

.nav-search-input {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgb(4,13, 20);
    height: 36px;
    border: 1px solid rgb(228, 233, 237);
    border-radius: 4px;
    padding: 0px 16px 0px;
    margin-top: 10px;
    width: 450px;
    &:hover {
        box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.06);
        border-color: white;
        background-color: white;
    }
}

.nav-search-input-open {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgb(4,13, 20);
    height: 36px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0px 16px 0px;
    margin-top: 10px;
    width: 450px;
    background-color: white;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.06);
}

.result-stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    align-items: center;
    &:hover {
        background-color: rgb(245,248,250)
    }
    

  
}

.result-stock-symbol {
    display: flex;
    flex-direction: flex-start;
}

.result-stock-name {
    display: flex;
    flex-direction: flex-start;
}

.results-box {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 45px;
    width: 483px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px 15px 24px rgba(0,0,0,0.06), 0px 15px 24px rgba(0,0,0,0.06);
    color: rgb(4,13, 20);
    font-weight: 500;
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    letter-spacing: -0.1px;
    line-height: 20px;
    justify-content: flex-start;
    // padding-left: 30px;
    // padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.results-box-hidden {
    display: none;
}

.results-box-body {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.results-box-title {
    color: rgb(111, 120, 126);
    padding-left: 20px;
}

.results-box-title-hidden {
    display: none;
}

.search-result-error {
    display: flex;
    margin-left: 20px;
    color: rgb(4,13, 20);
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgb(4,13, 20);
    margin-bottom: 10px;
  
}

