.signup-leftpage-content-2 {
    font-size: 12.75px;
    color: rgb(180, 189, 194);
    box-sizing: border-box;
    line-height: 20px;
    letter-spacing: -0.1px;
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    padding-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
}

.signup-leftpage-content-2-1 {
    margin-bottom: 10px;
    box-sizing: border-box;
}

.signup-leftpage-content-2-2 {
    box-sizing: border-box;
    display: inline;
    margin-bottom: 10px;

}

.signup-leftpage-content-2-3 {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: inline;
}

.signup-leftpage-content-2-4 {
    margin-bottom: 10px;
    box-sizing: border-box;
}