.portfolio-tooltip {
    display: flex;
    flex-direction: column;
    margin-right: 500px;
    justify-content: flex-start;
    width: 200px;
    margin-bottom: 50px;

}

.portfolio-balance {
    color: rgb(4,13,20);
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.33px;

}

.portfolio-return {
    color: rgb(4,13,20);
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.1px;
    display: flex;
    width: 700px;
    margin-top: 5px;
}

.range-string {
    color: rgb(111, 120, 126);
    font-weight: 400;
    width: 100px;
    margin-left: 5px
}



.frequency-bar {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,233,237);
    border-bottom-width: 1px;
    height: 33px;
    padding-top: 20px;
    width: 676px;
    

}

.frequency-bar-red {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-color: rgb(228,233,237);
    border-bottom-width: 1px;
    height: 33px;
    padding-top: 20px;
    width: 100%;
}

.frequency-bar button {
    margin: 0 12px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.1px;
}

.frequency-bar-red button {
    margin: 0 12px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.1px;
}

.frequency-bar-red button:hover {
    color: rgb(255,80,0);
}

.frequency-bar button:hover {
    color: rgb(0,200,5);
}

.highlight-freq {
    color: rgb(0, 200, 5);
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 200, 5);
    border-bottom-width: 2px;
    border-radius: 1px;
}

.highlight-freq-red {
    color: rgb(255,80,0);
    border-bottom-style: solid;
    border-bottom-color: rgb(255,80,0);
    border-bottom-width: 2px;
    border-radius: 1px;
}

.buying-power-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-top: 7px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    &:hover {
        background-color: rgb(245,248,250);
        cursor: pointer;
    }
}
.buying-power-base {
    width: 107%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 12px 24px rgba(0,0,0,0.06), 0px -12px 24px rgba(0,0,0,0.06);
}

.buying-power-base-hidden {
    width: 107%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.buying-power {
    margin-left: 23px;
}

.funds {
    margin-right: 25px;
}

.funds-hidden {
    display: none;
}


.tooltip-date {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgb(111, 120, 126);
}

.tooltip-time {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: rgb(111, 120, 126);
}

.tooltip-value {
    display: none;
}

.main-chart-1d {
    display: flex;
    background-image: linear-gradient(to right, rgb(111, 120, 126) 10%, rgba(111, 120, 126, 0) 0%);
    background-position: bottom;
    background-size: 7px 1px;
    background-repeat: repeat-x;
    width: 100%;
}

.main-chart-rest {
    display: flex;
    width: 100%;
}



.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 676px;
}


.buying-station-hidden {
    display: none;
}

.buying-station {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.buying-station-1 {
    display: flex;
    flex-direction: column;
    width: 45%;   
    border-top-style: solid;
    border-top-width: 1px; 
    border-spacing: 2px;
    border-color: rgb(228,233,237);
    margin-left: 23px;
}

.buying-station-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(4,13,20);
    border-color: rgb(228,233,237);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-spacing: 2px;
    height: 59px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-top: 5px;
}

.buying-station-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(4,13,20);
    height: 59px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
}

.buying-station-1-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buying-margin {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: rgb(255,198,87);
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.deposit-funds-button {
    display: flex;
    background-color: rgb(0, 200, 5);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    min-width: 120px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 20px;
    color: white;
    margin-bottom: 30px;
}

.buying-station-2 {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: rgb(4,13,20);
    border-color: rgb(228,233,237);
    border-top-style: solid;
    border-top-width: 1px;
    border-spacing: 2px;
    height: 59px;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-right: 23px;
}

.buying-station-2-1 {
    width: 90%;
    margin-left: 40px;
    height: 59px;
    margin-top: 40px;
}

.buying-station-1-2-2 {
    font-weight: 700;
}

.deposit-form-hidden {
    display: none;
}


.deposit-form {

    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 1200px;
    margin-top: 70px;
    z-index: 1000;
    position: fixed;
    background-color: white;
    padding: 100px;
    left: 400px;
   
}

.deposit-form-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.33px;
    line-height: 28px;
    margin: 0 0 16px;
    margin-bottom: 12px;
    color: rgb(4,13,20);
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
}

.deposit-form-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 20px;
    color: rgb(4,13,20);
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 20px;
}

.deposit-input {
    background: rgb(245,248,250);
    border-color: rgb(245,248,250);
    color: rgb(4,13,20);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    height: 36px;
    padding: 0 13px;
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
    width: 30%;
    margin-left: 130px;

}

.deposit-submit {
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.1px;
    background: rgb(0, 200, 5);
    border-color: rgb(0,200,5);
    color: white;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    width: 142px;
    font-family: "Capsule Sans Text", -apple-system, BlinkMacSystemFont, sans-serif;
    align-items: center;
    margin-top: 60px;

}

.deposit-close {
    position: relative;
    height: 20px;
    width: 20px;
    bottom: 300px;
    left: 950px;
}